/*
问题
1.nav竖线  2.搜索按钮  3.点击搜索search不消失
4.img上下有白色缝隙  5.右下角图标
6.li使用
*/
/*content开始---------------------------*/
#content{
    width: 100%;
    height: 460px;
    background: #31333e;
}
#content-bg{
    width: 1004px;
    height: 460px;
    background: url("../img/photo.png") no-repeat center;
    position: absolute;
}
#both-left{
    position: relative;
    top:50%;
}
#both-right{
    float: right;
    position: relative;
    top:40%;
}
/*content结束---------------------------*/

/*more开始------------------------------*/
#more-big {
    width: 1004px;
    height: 492px;
}
.more-more{
    width: 334px;
    float: left;
}
.more-more h1{
    width: 290px;
    height: 40px;
    margin-top: 90px;
    margin-left: 60px;
    font-size: 30px;
    opacity: 0.7;
}
.more-more img{
    margin: 20px;
    margin-left: 90px;
}
.more-more p{
    width: 290px;
    height: 126px;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
    color: #2a2e39
}
.more-more a{
    padding-top: 50px;
    padding-left: 100px;
    color: #00aeff;
}
/*more结束------------------------------*/

/*works开始-----------------------------*/
#works {
    height: 500px;
    background: #e2e7ed;
}
#works h1{
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    color: #626262;
}
/*works结束-----------------------------*/
/*Clients开始---------------------------*/
#Clients {
    height: 154px;
}
#Clients h1{
    font-size: 30px;
    color: #626262;
    margin-top: 20px;
}
#Clients .clients{
    position: absolute;
}
#Clients .left{
    position: relative;
    bottom: 30px;
}
#Clients .right{
    position: relative;
    bottom: 30px;
}
/*Clients结束---------------------------*/



